[Unit]
Description=Build and insert the prucam kernel module

[Service]
Type=oneshot
User=root
ExecStart=/opt/prucam.sh 60

[Install]
WantedBy=multi-user.target
