Source: prucam
Maintainer: PSAS <oresat@pdx.edu>
Build-Depends:
  debhelper (>= 10),
  dkms,
  dh-dkms,
  device-tree-compiler,
  ti-pru-cgt-v2.3,
  fakeroot
Homepage: https://github.com/oresat/oresat-prucam-ar013x

Package: prucam
Architecture: armhf
Depends: ${misc:Depends}
Description: Kernel module, device tree overlay, and PRU firmware for prucam
