Source: prucam-ar013x
Maintainer: PSAS <oresat@pdx.edu>
Build-Depends: debhelper (>= 10), dkms, device-tree-compiler, ti-pru-cgt-v2.3, ti-pru-software-v6.0, fakeroot
Homepage: https://github.com/oresat/oresat-linux-prucam

Package: prucam-ar013x-dkms
Architecture: armhf
Depends: ${misc:Depends}, dkms
Description: Kernel module, device tree overlay, and PRU firmware for prucam
