[Unit]
Description=barebones service that sets up the prucam test server

[Service]
Type=simple
Restart=always
RestartSec=10s
# working directory assume debian user and repo in home dir
WorkingDirectory=/home/debian/oresat-linux-prucam
ExecStart=/home/debian/oresat-linux-prucam/testing/prucam-test-server/launch-api-server.sh

[Install]
WantedBy=multi-user.target
